footer {
    background: #FEDDAF;
}

footer a.logo, footer a.logo:hover, footer a.logo:visited { 
    text-decoration: none;
    font-size: 2rem;
    color: #DA7A26;
}

footer #copyright {
    background: #DA7A26;
    color: #fff;
}

img.logo {
    height: 50px;
    width: auto;
    transform: scaleX(-1);
}