/* header.masthead {
    height: 50vh;
    min-height: 500px;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: linear-gradient(0deg,#FFA034 0,#DA7A26 100%);
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

header form.search{
    margin-left: auto;
    margin-right: auto;
}

header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg,#FFA034 0,#FEC87F 100%);
} */